
  
  .container-i {
    display: flex;
    flex-direction: column;
    position: relative;
    // width: 100%;
    // height: 27.3rem;
    background: #f1f1f1;
    // margin: 100px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
    margin-bottom: 10rem;
  }
  
  .bloc-tabs1 {
    display: flex;
  }
  .tabs1 {
  
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  .tabs1:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs1  {
    background: white;
    border-bottom: 1px solid transparent;
  }
  
  .active-tabs1::before {
    content: "";
    display: block;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(88, 147, 241);
  }
  
  
  
  button {
    border: none;
    
  }
  .contentt-tabs1 {
    flex-grow : 1;
    background-color: #fff !important;
    p{
      width: 100%;
    }
  }
  .contentt {
    background: white;
    padding: 35px;
    // width: 90%;
    font-size: 0.8rem;
    height: 100%;
    display: none;
    text-align: center;
  }
  .contentt h2 {
    padding: 0px 0 5px 0px;
  }
  .contentt hr {
    width: 30%;
    height: 4.25px;
    background: #2E90E5;
    margin-bottom: 5px;
  }
  .contentt p {
    width: 100%;
    height: 100%;
  }
  .active-contentt {
    display: block;
  }
  