@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.Container {
  width: 80rem;
  margin: 0 10rem;
  flex-direction: column;
}


.Header{
  display: flex;
  height: 50px;
  color: black;
  align-items: center;
  margin-top: 1rem;
  /* background-color: blue; */
  padding: 0 1rem;
  z-index: 5;
}
hr{
 height: .1px;
 width: 100%;
background-color: #C1C8CE;

}

.login {
  margin-left: auto;
  margin-right: 2rem;
  cursor: pointer;
}


.signup {
  margin: 0 2rem;
}

.login a {
  color: black;
  text-decoration: none;
  
}
.cart a {
  color: black;
  text-decoration: none;
  
}
.signup a {
  color: black;
  text-decoration: none;
  
}
.searchPrice a {
  color: black;
  text-decoration: none;
}
.en {
  margin-right: 1rem;
  position: relative;
  color: #777;
  cursor: pointer;
  }

.dropdown > .link:active, 
.link:hover {
  color: #000;
}
.dropdown-items{
  position: absolute;
  top: calc(100% + .5rem);
  left: 2.5rem;
  width: 5rem;
  background-color: white;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  z-index: 1;
  opacity: 0;
  color: #000;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  cursor: pointer;
}
.dropdown:active > .link + .dropdown-items {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

.Navbar li {
  list-style-type: none;
  padding: 0 2em;
  color: black;
  font-size: 18px;
  cursor: pointer;
}

.Navbar a{
  text-decoration: none;
}

.Navbar li:hover {
  color: #40BFFF;
}

.e-comm{
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.ecomm span {
  font-weight: bold;
  font-size: 18px;
}

.ecomm:hover { 
  cursor:none;
  color: black;
}

.home {
  margin-left: auto;
}

.contact {
  padding: 0;
  margin: 0;
}

.image {
  position: absolute;
  top: 150px;
  width: 100%;
  left: 0;
}

/* Tablets */
.tablets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 15rem;
  position: relative;
  gap: 2rem;
  top: -150px;
}

.grid {
  /* width: 270px; */
  height: 222px;
  background-color: #40BFFF;
  color: white;
}

.card {
  padding: 2em 1em 0;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  color: #40BFFF;
  background-color: white;
  transition: .5s ease-in-out;
}

/* Head Text */
.headtext {
  color: white;
  font-size: 64px;
  position: absolute;
  top: 55%;
  margin-left: 5%;
  font-weight: 700;
  line-height: 96px;
}

/* First three Image */
.Topthree {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  top: 760px;
  justify-content: center;
  /* width: 100%; */
  /* height: ; */
  align-items: center;
  flex-wrap: wrap;
  /* margin-left: 9rem; */

}

.pictureOne {
  position: absolute;
  z-index: 1;
}
.pictureTwo {
  position: absolute;
  z-index: 1;
  left: 31%;
}
.pictureThree {
  position: absolute;
  z-index: 1;
  left: 65%;

}
.brandname{
  position: absolute;
  top: 0;
  left: 15%;
}

.one {
  color: #223263;
  font-size: 20px;
  font-weight: bold;
  top: 8%;
}

.two {
  color: #9098B1;
  font-size: 18px;
  top: 75%;
}

.two span {
  color: #FB7181;
}

.three {
  color: #40BFFF;
  font-size: 30px;
  top: 85%;
  left: 60%;
}

.four {
  color: #9098B1;
  font-size: 18px;
  top: 85%;
  left: 35%;
}

.four span {
  color: #FB7181;
}

.five {
  color: #40BFFF;
  font-size: 30px;
  top: 9%;
  left: 60%;
}

.six {
  color: #9098B1;
  font-size: 18px;
  top: 25%;
}

.six span {
  color: #FB7181;
}

/* Collection */
.Collection{
  position: relative;
  top: 60rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Collection a{
  text-decoration: none;
  color: black;
}

.Bigtext {
  font-size: 35px;
  font-weight: bold;
}

.collection{
  font-size: 22px;
  display: flex;
}
.collection h4 {
padding: 1.2rem;
cursor: pointer;
}

.collection h4:hover{
  color: #40BFFF;
}

.productcollection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}


.numberOne {
  position: relative;
  cursor: pointer;
}

.hot{
  position: absolute;
  top: 0;
  left: 0;
}
.overlay {
  position: absolute;
  top: 5%;
  left: 3%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor:initial;
}

.numberOne:hover .overlay{
  opacity: 1;
  transition: .5s ease-in-out;
}

.overlaylink{
  position: absolute;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.Productname {
  font-size: 18px;
  font-weight: 18px;
  color: #223263;
}

.pricetag {
  display: flex;
}

.price {
  font-size: 18px;
  color: #40BFFF;
  font-weight: 700;
}

.former {
  font-size: 14px;
  text-decoration:line-through;
  color: #9098B1;
  font-weight: 400;
  padding: 0 1rem;
}

.off {
  font-size: 14px;
  color: #FB7181;
  font-weight: 700;
}

.loadmore {
  margin-top: 3rem;
}

.loadmore a {
  color: #33A0FF;
  font-size: 20px;
}

/* SECOND SECTION */

.bluebg {
  background-color: #40BFFF;
  width: 110%;
  height: 400px;
  padding: 5rem 5rem;
  margin-top: 5rem;
}

.giantshoe {
  max-width: 794.56px;
  max-height: 598.94px;
  position: relative;
  top: -27rem;
  left: 37rem;
}

.bluebg h3 {
  color: white;
  font-size: 55px;
  font-weight: 700;
}

.bluebg p {
  color: white;
  font-size: 24px;
  font-weight: 400;
}

.bluebg a {
  color: white;
  font-size: 20px;
  line-height: 100px;
}

.whyus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-top: 2rem;
  padding: 2rem 2rem;
  text-align: center;
  /* display: flex;
  flex-basis: 1; */
  align-items: center;
  justify-content: center;
}

/*  */
.latestnews {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem 0;
}

.latestnews h1 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 5rem;
}

.nike {
  display: flex;
}
.somestuff {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.text h4{
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
}

.text h6 {
  color: #C1C8CE;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
}

.text p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.lasttext {
  padding-left: 2rem;
}

.pink {
  color: #FB7181;
}

.newslogo {
  width: 100%;
}

.kronos {
  margin-left: 2rem;
}
/* SEARCH */
.search {
  margin-top: 65rem;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 5rem;
}
.search button {
  width: 127px;
  height: 67px;
  color: white;
  font-size: 18px;
  background-color: #40BFFF;
  border: 2px solid #40BFFF;
  border-radius: 2px;
}

.search input {
  width: 533px;
  height: 63px;
  padding-left: 1rem;
  border: 2px solid #40BFFF;
  border-radius: 2px;
}

.search input:focus {
  outline: none;
  font-size: 18px;
}

.search input::placeholder {
  font-size: 18px;
}
/* FOOTER */

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#BCDDFE;
  width: 115%;
  position: relative;
  left: -10rem;
  bottom: 0;
  right: 0;
  flex-direction: column;
  padding-left: 7rem;
}

.firstsection{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  margin-top: 9rem;
}

.firstsection p {
  font-size: 12px;
  font-weight: 400;
}

.firstsection h2 {
  font-size: 18px;
  font-weight: 600;
}

.logo1 {
  padding-top: 1rem;
}

.otu {
  margin: 2rem;
  padding: 1rem;
}
.abuo {
  margin: 2rem;
  padding: 1rem;
}

.facebooklogo {
  padding-right: 1rem;
}

.footerlogo {
  font-size: 18px;
}

.secondsection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  padding-top: 4rem;
}

.secondsection p {
  font-size: 12px;
  font-weight: 400;
}

.secondsection h2 {
  font-size: 18px;
  font-weight: 600;
}


hr {
  background-color: white;
  width: 100%;
  position: relative;
  left: -3rem;
}

.themlogos {
width: 100%;
padding-top: 1rem;
padding-bottom: 1rem;
display: flex;
justify-content: right;
margin-right: 6rem;
}

.themlogo {
  margin-left: auto;

}

.forspace {
  padding-top: 1rem;
}

.others {
  padding-left: 1rem;
}


/* HOT DEALS CSS */
.littleNav{
  width: 100%;
  background-color: #F6F7F8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 51px;
}

.littleNav p{
  cursor: pointer;
  padding-left: .5rem;
  padding-right: .5rem;
}

.littleNav p:hover{
  color:#33A0FF;
}

/* HOTDEALS COLLECTION */
.Hotdeals{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Hotdeals-Collection{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  gap: 3rem;
}
/* .Hotdeals-rightcorner{
  padding-left: 0;
  width: 100%;
} */
.Hotdeals-bluebg {
  height: 150px;
  margin-top: 2rem;
  padding: 3rem;
  padding-left: 0;
  background-color:#40BFFF;
  color: white;
}

.Hotdeals a{
  text-decoration: none;
  color: #000;
}

.Hotdeals-items{
  margin-top: 2rem;
  width: 100%;
  background-color:#F6F7F8;
  height: 19.5rem;
  line-height: 29.92px;
}
.Hotdeals-items h1{
  font-size: 18px;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.Hotdeals-items p{
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
}

.Hotdeals-items span{
  padding-right: 1rem;
}

.Hotdeals-giantshoe {
  width: 20rem;
  height: 17rem;
  position: relative;
  top: -14rem;
  left: 38rem;
}

.Hotdeals-bluebg h3 {
  font-size: 25px;
}

.Hotdeals-bluebg p {
  font-size: 15px;
}

.Hotdeals-bluebg a {
  font-size: 10px;
  line-height: 50px;
  color: white;
  border-bottom: 2px solid white;
  text-decoration: none;
  padding-bottom: .5rem;
}

.Hotdeals-writeups{
  margin-left: 5rem;
}
.sortby{
  background-color:#F6F7F8;
  margin-top: 1rem;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
}
.sortby-items{
  display: flex;
}
.sortby-items p, pre{
  padding-left: 3rem;
  
}
.productcollection2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  gap: 1rem;
}
.sortby-al{
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.sortby-al p{
  padding: .8rem 1.5rem;
  line-height: 30px;
  cursor: pointer;
}
.sortby-al p:hover{
  background-color: #33A0FF;
}
.pricerange{
  height: 7rem;
}
.brands{
  line-height: 35px;

}
.more{
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-left: 0;
}
.Collection2 a{
  text-decoration: none;
  color: black;
}
/* .Productpage{
  background-color: #E5E5E5;
} */
.Productpage-body{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  margin-top: 2rem;
  column-gap: 2rem;
}
.bottom{
  display: flex;
  margin-top: 5rem;
}

.bottom img{
  width: 24%;
  padding-right: .5rem;
}
.middleside h3{
  font-size: 24px;
}
.stars img{
  width: 11px;
  height: 10px;
}
.rev-stars{
  padding-right: 1rem;
}

.reviews{
  display: flex;
  margin-right: 1rem;
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e5e5e5;
}
.reviews p{
  padding-right: 1rem;
  font-size: 16px;
}

.submit-review{
  color: #33A0FF;
}
.zero-rev{
  color: #9098B1;
}
.bestseller-about{
border: 1px solid #C1C8CE;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.figures{
  display: flex;
  font-size: 16px;
  padding-bottom: 1rem;
}

.figures p{
  color: #FB7181;
  padding-right: .5rem;
}

.figures span{
  color: #C1C8CE;
}
.rightside h6{
  font-size: 18px;
  color: #C1C8CE;
  padding-bottom: 1rem;
}
.secondrow{
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.secondrow-cont p{
  display: flex;
  width: 50%;
  justify-content: space-between;
  line-height: 30px;
}
.secondrow-cont{
  padding-bottom: 2rem;
  border-bottom: 1px solid #e5e5e5;
}
.select-colour{
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.select-colour img{
  margin-right: 1rem;
}

.firstcolour{
  margin-left: 3rem;
}
.size{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e5e5e5;
}

.size button{
  width: 123px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-left: 6rem;
  align-items: center;
  background-color: white;
  padding: 0 1rem;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  cursor: pointer;
}

.addtocart{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e5e5e5;
}

.leftcorner{
  display: flex;
  width: 123px;
  height: 49px;
  background-color: #e5e5e5;
  align-items: center;
  justify-content: center;
}

.leftcorner p{
  color: #33A0FF;
}
.leftcorner span{
  color: black;
  padding: 0 2rem;
}

.add2cart{
  background-color:#BCDDFE;
  color: #33A0FF;
  width: 159px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.add2cart p{
  margin-left: 1rem;
}
.rightcorner{
  background-color: #BCDDFE;
  color: #03A9F4;
  height: 49px;
  width: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.socials{
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.facebook{
  height: 49px;
  width: 244px;
  background-color: #385C8E;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.twitter{
  background-color: #03A9F4;
  color: white;
  margin-left: 2rem;
}

.product-info{
  margin-top: 5rem;
  /* background-color: #e5e5e5; */
  grid-row: 2 / 3;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  grid-column: 1 / 3;
  height: 300px;
  padding: 2rem;
  /* width: 924px; */
  margin-bottom: 5rem;
}

.headings{
  display: flex;
  padding-bottom: 1rem;
  align-items: center;
  font-size: 18px;
  color: #000;
  border-bottom: 2px solid #e5e5e5;
}

.active{
  color: #03A9F4;
}

.headings p{
  margin-right: 5rem;
}

.heading-info p{
  color: #9098B1;
  padding: 1rem 9rem 0 0;
  line-height: 27px;
  font-size: 12px;
}
/*  */

/* CART */
.cartgrid{
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}

.bottom span{
  color: red;
  margin-right: 2rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.bottom p{
  margin-left: 2rem;
}
.spacing-top{
  margin: 2rem 0;
  font-weight: bold;
}
.product{
  margin-left: 5rem;
}
.spacing{
  margin-bottom: 5rem;
  margin-top: 0;
  display: flex;
  align-items: center;

  }

.height{
  margin: 2.5rem 0;
}
.voucher{
  margin: 0;
  width: 369px;
  height: 60px;
  margin-bottom: 1rem;
}
.voucher input{
  border: 1px solid #e5e5e5;
  height: 60px;
}

.voucher input::placeholder{
  font-size: 14px;
  font-weight: 400;
}

.voucher button{
  font-size: 14px;
  font-weight: 500;
  height: 60px;
  width: 118px;
}
.cartflex{
  display: flex;
  justify-content: space-between;
}

.salestotal{
  width: 377px;
  height: 310px;
  line-height: 40px;
}
.salestotal p{
  width: 374.12px;
}

.total {
  margin-top: 3rem;
  font-size: 30px;
}

.salestotal button{
  width:374.12px;
  height:60px;
  background-color:#33A0FF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 1rem;
}

/*  */
.welcome{
  color: #33A0FF;
  margin-top: 4rem;
}

.modal input{
  width: 15rem;
  height: 2rem;
  position: relative;
}

Modal:focus{
  outline: none;
}

.modal input::placeholder{
  padding-left: 2rem;
}

.modal input:focus{
  outline: none;
}

#first{
  margin: 3rem 0 2rem;

}

.input .google{
  position: absolute;
  /* transform: translate(-50%, -50%); */
  left: 30%;
  top: 36.8%;
}

.fb{
  position: absolute;
  left: 31%;
  top: 51.2%;
}

.paragraph {
  margin-top: 3rem;
}

.modal button{
  width: 5rem;
  background-color: #33A0FF;
  color: white;
  border: none;
  height: 2rem;
  border-radius: 3px;
  margin-top: 1rem;
  font-weight: bold;
}

.modal button:hover{
  background-color: #fff;
  color: #33A0FF;
  border: 2px solid #33A0FF;
}
.modal:focus{
  outline: none;
}

.modal button:focus{
  outline: none;
  background-color: #fff;
  color: #33A0FF;
  border: 2px solid #33A0FF;
}
@media all and (max-width: 1200px) {
  /* .e-comm {
    margin-left: 2rem;
    transition: .5s ease-in-out;
  } */

  .Navbar {
    font-size: 14px;
    margin-left: 2rem;
    transition: .5s ease-in-out;

  }

  .signup {
    margin-right: 2rem;
    transition: .5s ease-in-out;
  }

  .tablets {
    margin: 2rem;
    transition: .5s ease-in-out;
  }

}
@media all and (min-width: 1200px) {
  .Navbar {
    font-size: 24px;
    transition: .5s ease-in-out;

  }

  /* .e-comm {
    transition: .5s ease-in-out;
  } */

  .signup {
    transition: .5s ease-in-out;
  }

  .tablets {
    margin: 0 15rem;

    transition: .5s ease-in-out;
  }
}
/* @media (min-width: 41em) and (max-width: 50em){
  body {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: orange;
  }

  .productcollection{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

} */

  @media (max-width: 70em){
    body {
      overflow-x: hidden;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    
    .Container{
      width: 90%;
      margin: 0;
      padding-right: 2rem;
      margin-left: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }
    .Header{
      font-size: 14px;
      width: 100%;
    }

    .login {
      margin-right: .5rem;
    }

    .Navbar{
      width: 100%;
      padding-right: 2rem;
      padding-left: 2rem;
    }

    .Navbar li {
      font-size: 14px;
    }

    .productcollection{
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
    }

    .Topthree {
      top: 500px;
      width: 100%;
      gap: 0;
      left: 2rem;
    }

    .imgone{
      width: 20rem;
    }

    .one {
      font-size: 18px;
    }
    .two {
      font-size: 14px;
    }
    .three {
      font-size: 20px;
    }
    .four{
      font-size: 14px;
    }
    .five{
      font-size: 20px;
    }
    .six {
      font-size: 14px;
      margin-top: 1rem;
    }

    .headtext{
      top: 20rem;
      font-size: 50px;
      line-height: 70px;
    }

    .bluebg {
      height: 250px;
      width: 100%;
      margin-top: 5rem;
      padding-bottom: 0;
    }

    .Collection {
      top: 45rem;
    }
    
    .giantshoe {
      width: 30rem;
      height: 28rem;
      position: relative;
      top: -20rem;
      left: 30rem;
    }
    
    .bluebg h3 {
      font-size: 35px;
    }
    
    .bluebg p {
      font-size: 14px;
    }
    
    .bluebg a {
      font-size: 14px;
      line-height: 50px;
    }

    .writeups{
      padding-left: 5rem;
    }
    .latestnews h1 {
      font-size: 34px;
      margin-bottom: 4rem;
    }
    
    .somestuff {
      grid-template-columns: repeat(2, 20em);
      margin: 0 5rem;
      padding: 0 5rem;
      row-gap: 2rem;
    }

    .kronos {
      width: 50%;
      height: 50%;
      margin: 0;
    }
    .good {
      width: 25%;
      height: 25%;
      margin: 0;
    }
    .figma {
      width: 25%;
      height: 50%;
      margin: 0;
    }
    .nike{
      display: flex;
      justify-content: center;
      align-items: center;
    }

   
    .newslogo{
      width: 100%;
    }
    
    .text h4{
      font-size: 18px;
    }
    
    .text h6 {
      font-size: 14px;
    }
    
    .text p {
      font-size: 14px;
    }
    
    .lasttext {
      padding-left: 1rem;
    }

    .search{
      margin-top: 50rem;
    }
    
    .footer{
      width: 100%;
      padding-left: 2em;
    }
    
  }
  @media (min-width: 70.1em) and (max-width: 85em){
    body {
      overflow-x: hidden;
    }
    
    .Container{
      width: 100%;
      margin: 0;
      padding-right: 2rem;
      margin-left: 2rem;
    }

    .Header{
      padding: 0 2rem;
    }

    .Navbar{
      padding-right: 2rem;
      padding-left: 2rem;
    }

   .productcollection{
      grid-template-columns: repeat(3, 1fr);
    }
    .Topthree {
      top: 35rem;
      width: 100%;
      gap: 0;
      left: 2rem;
    }

    .imgone{
      width: 20rem;
    }
    .one {
      font-size: 18px;
    }
    .two {
      font-size: 14px;
    }
    .three {
      font-size: 20px;
    }
    .four{
      font-size: 14px;
    }
    .five{
      font-size: 20px;
    }
    .six {
      font-size: 14px;
      margin-top: 1rem;
    }
    .headtext{
      top: 20rem;
      font-size: 50px;
      line-height: 70px;
    }

    .bluebg {
      height: 300px;
      width: 90%;
      margin-top: 5rem;
      padding-bottom: 0;
    }

    .Collection {
      top: 45rem;
    }
    .giantshoe {
      width: 30rem;
      height: 28rem;
      position: relative;
      top: -23rem;
      left: 38rem;
    }
    
    .bluebg h3 {
      font-size: 45px;
    }
    
    .bluebg p {
      font-size: 20px;
    }
    
    .bluebg a {
      font-size: 18px;
      line-height: 50px;
    }

    .writeups{
      padding-left: 5rem;
    }
    .latestnews h1 {
      font-size: 34px;
      margin-bottom: 4rem;
    }
    
    .somestuff {
      grid-template-columns: repeat(3, 1fr);
      margin: 0 0 0 2rem;
      row-gap: 2rem;
    }

    .kronos {
      width: 50%;
      height: 50%;
      margin: 0;
    }
    .good {
      width: 25%;
      height: 25%;
      margin: 0;
    }
    .figma {
      width: 25%;
      height: 50%;
      margin: 0;
    }
    .nike{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .newslogo{
      width: 100%;
    }
    
    .text h4{
      font-size: 18px;
    }
    
    .text h6 {
      font-size: 14px;
    }
    
    .text p {
      font-size: 14px;
    }
    
    .lasttext {
      padding-left: 1rem;
    }

    .search{
      margin-top: 50rem;
    }

    }
    @media (min-width: 85em) and (max-width: 90em){
      body {
        overflow-x: hidden;
      }
     .bluebg {
      height: 300px;
      width: 120%;
      margin-top: 5rem;
      padding-bottom: 0;
    }

    .Collection {
      top: 65rem;
    }
    .giantshoe {
      width: 38rem;
      height: 30rem;
      position: relative;
      top: -22rem;
      left: 45rem;
    }
    
    .bluebg h3 {
      font-size: 45px;
    }
    
    .bluebg p {
      font-size: 20px;
    }
    
    .bluebg a {
      font-size: 18px;
      line-height: 50px;
    }

    .writeups{
      padding-left: 5rem;
    }
    .latestnews h1 {
      font-size: 34px;
      margin-bottom: 4rem;
    }

    .kronos {
      margin: 0;
    }
    
    .newslogo{
      width: 100%;
    }

    }

    @media (min-width: 50.1em) and (max-width: 62em){
      body{
        // background-color: pink;
      }
      .Navbar li {
        font-size: 14px;
        padding: 0 1em;
      }
      .Header{
        font-size: 15px;
        padding-top: 1rem;
      }
      .Navbar {
        margin: 0;
        padding: 0 1rem;
        width: 45rem;
      }
      .logo{
        width: .92rem;
      }
      .Header{
        font-size: 14px;
        margin-top: 0;
        width: 45rem;
      }
      .image{
        top: 90px; 
      }
      
        .headtext{
          font-size: 50px;
          top: 15rem;
          line-height: 50px;
          left: 1rem;
        }
        .productcollection{
          grid-template-columns: repeat(3, 1fr);
        }

    
        .Topthree{
          top: 28em;
        }
        .pictureOne{
          left: 5%;
        }
        .pictureTwo{
          left: 33%;
        }
        .pictureThree{
          left: 60%;
        }
        .imgone{
          width: 17rem;
        }
        .one {
          font-size: 13px;
        }
        .two {
          font-size: 12px;
        }
        .three {
          font-size: 13px;
        }
        .four{
          font-size: 12px;
        }
        .five{
          font-size: 14px;
        }
        .six {
          font-size: 12px;
          margin-top: 1rem;
        }
        .Collection {
          top: 40rem;
        }
        .writeups{
          margin-left: 2rem;
        }
        .giantshoe {
          width: 25rem;
          height: 26rem;
          top: -16rem;
          left: 27rem;
        }
        .latestnews{
          margin: 2rem;
        }
        .latestnews h1 {
          font-size: 24px;
          margin-bottom: 1.5rem;
        }
        .whyus{
          margin: 2em;
        }
        .whyus p {
          font-size: 14px;
        }
        .somestuff {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          width: 100%;
          padding-left: 9rem;

        }
        .text h4{
          font-size: 18px;
        }
        .newslogo {
          width: 40%;
        }
        .text h6 {
          font-size: 18px;
          line-height: 20px;
        }
        .text h5 {
          font-size: 14px;
          line-height: 20px;
        }
        .text p {
          font-size: 12px;
          line-height: 18px;
        }
        .kronos {
          margin-left: 1rem;
          width: 20%;
        }
        .somestuff{
          gap:.5rem;
        }
        .nike{
          gap: .5rem;
        }
        .lasttext{
          padding-left: 0;
        }
        .img{
          width: 100%;
        }
        .search input {
          width: 254px;
          height: 63px;
        }
        .Icon1{
          width: 100%;
        }
    }
    @media (max-width: 50em){
      // body{
      // }

      .Navbar li {
        font-size: 12px;
        padding: 0 .5em;
      }
      .Navbar {
        margin: 0;
        padding: 0 1rem;
        width: 35rem;
      }
      .logo{
        width: .92rem;
      }
      .Header{
        font-size: 12px;
        margin-top: 0;
        width: 38rem;
        padding: 0;
      }
      .login{
        margin-right: 0;
      }
      .en{
        margin-right: 0;
        padding-right: 0;
      }
      .image{
        top: 80px; 
      }
      
        .headtext{
          font-size: 30px;
          top: 10rem;
          line-height: 50px;
          left: 1rem;
        }
      
        .Topthree{
          top: 22em;
        }
        .pictureOne{
          left: -2%;
        }
        .pictureTwo{
          left: 27%;
        }
        .pictureThree{
          left: 59%;
        }
        .imgone{
          width: 14rem;
        }
        .one {
          font-size: 11px;
        }
        .two {
          font-size: 10px;
        }
        .three {
          font-size: 12px;
        }
        .four{
          font-size: 10px;
        }
        .five{
          font-size: 12px;
        }
        .six {
          font-size: 10px;
          margin-top: 1rem;
        }
      
      
          .productcollection{
            grid-template-columns: repeat(1, 1fr);
          }
          .somestuff {
            grid-template-columns: 20rem;
          }
          .whyus{
            grid-template-columns: 20rem;
          }
          .Collection {
            top: 30rem;
          }
      
          .bluebg {
            height: 150px;
            width: 100%;
            margin-top: 5rem;
            padding: 3rem;
            padding-left: 0;
          }
      
          .giantshoe {
            width: 19rem;
            height: 20rem;
            top: -14rem;
            left: 23rem;
          }
          
          .bluebg h3 {
            font-size: 30px;
          }
          
          .bluebg p {
            font-size: 15px;
          }
          
          .bluebg a {
            font-size: 10px;
            line-height: 50px;
          }
      
          .writeups{
            margin-left: 1rem;
          }
          .latestnews h1 {
            font-size: 34px;
            margin-bottom: 4rem;
          }
      
          .search{
            margin-top: 30rem;
          }
      
          .search input {
            width: 254px;
            height: 63px;
          }
          .Bigtext{
            font-size: 25px;
          }
      
          .collection{
            font-size: 14px;
          }
      .footer{
        padding-left: 2em;
      }
      
          .firstsection{
            grid-template-columns: 15em 15em;
            gap: 1em;
            margin-top: 2rem;
          }
          .secondsection{
            grid-template-columns: 15em 15em;
            gap: 0;
            justify-content: center;
            padding-top: 0;
          }
          .contus{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 150%;
          }
          .contus{
            margin-top: 0;
            padding-top: 0;
          }
          }


  
  @media (max-width: 20em){
    body{
      overflow-x: hidden;
    }
.Navbar li {
  font-size: 8px;
  padding: 0 .6rem;
}
.Navbar {
  margin: 0;
  padding: 0 1rem;
  width: 20em;
  margin-top: .5rem;
}
.e-comm{
  font-size: 9px;
  margin-left: .2rem;
  padding: 0;
  background-color: #03A9F4;
  margin: 0;
}
.logo{
  width: 1rem;
  margin-left: 2rem;
  display: none;
}
.Header{
  font-size: 10px;
  width: 20em;
  padding: 0;
  margin-left: -10rem;
}
.login{
  margin-right: 0;
  padding: 0;
}
.en{
  margin-right: 0;
  padding-right: 0;
}

.image{
  top: 90px; 
  left: 0;
  right: 0;
  width: 100%;
}

  .headtext{
    font-size: 20px;
    top: 9rem;
    line-height: 30px;
    left: 2%;
  }

  .Topthree{
    top: 17em;
  }
  .pictureOne{
    left: 11%;
  }
  .pictureTwo{
    left: 35%;
  }
  .pictureThree{
    left: 60%;
  }
  .imgone{
    width: 11rem;
  }
  .one {
    font-size: 9px;
  }
  .two {
    font-size: 7px;
  }
  .three {
    font-size: 10px;
  }
  .four{
    font-size: 7px;
  }
  .five{
    font-size: 10px;
  }
  .six {
    font-size: 7px;
    margin-top: 1rem;
  }
  .Bigtext{
    font-size: 20px;
    margin-left: 2.5rem;
  }

  .collection{
    font-size: 14px;
    margin-left: 3rem;
  }
  .img{
    width: 50%;
    margin-left: 0;
  }
  .overlay{
    left: -20%;
  }
  .Productname{
    font-size: 12px;
  }
  .stars{
    width: 20rem;
  }

  .numberOne{
    padding-left: 0;
  }

  .price{
    font-size: 12px;
  }

  .off{
    font-size: 10px;
  }
  .former{
    font-size: 10px;
  }

    .productcollection{
      grid-template-columns: 20rem 20rem;
    }
    .somestuff {
      grid-template-columns: 20rem;
    }
    .whyus{
      grid-template-columns: 20rem;
    }
    .Collection {
      top: 25rem;
    }

    .bluebg {
      height: 150px;
      width: 90%;
      margin-top: 5rem;
      padding: 3rem;
      padding-left: 0;
    }

    .giantshoe {
      width: 12rem;
      height: 10rem;
      position: relative;
      top: -14rem;
      left: 25rem;
    }
    
    .bluebg h3 {
      font-size: 25px;
    }
    
    .bluebg p {
      font-size: 15px;
    }
    
    .bluebg a {
      font-size: 10px;
      line-height: 50px;
    }

    .writeups{
      margin-left: 2rem;
    }
    .latestnews h1 {
      font-size: 34px;
      margin-bottom: 4rem;
    }

    .search{
      margin-top: 25rem;
    }

    .search input {
      width: 254px;
      height: 63px;
    }
.footer{
  padding-left: 2em;
}

    .firstsection{
      grid-template-columns: 15em 15em;
      gap: 1em;
      margin-top: 2rem;
    }
    .secondsection{
      grid-template-columns: 15em 15em;
      gap: 0;
      padding-top: 0;
    }
    .contus{
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 150%;
    }
    .contus{
      margin-top: 0;
      padding-top: 0;
    }
  }
